*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: black;
  text-align: center;
  
}
h1 {
  color: white;
}
.contenedor {
  width: 100vw;
  height:95vh;
}

.contenedor img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* se adapta sin deformarse */
  display: block;      /* elimina espacios raros */
}